.container {
    text-align: center;
    padding: 100px 10px 100px 1px;
    color: purple;
    border-style:solid;
    border-radius: 100px;
    
}
.text
{
    color: rgb(255, 231, 0);
    font: italic 10;
}