body {
  font-family: system-ui;
  background-image: url(/image/coolbeach.jpg);
 color: rgb(21, 150, 255);
 text-align: center;
 background-repeat: no-repeat;
 background-size: cover;
}
title {
  text-decoration: black;
}